@import "./helpers/variables";
@import "./helpers/grid";
@import "./helpers/website\ Mood";
@import "./helpers/animation";

.countries {
  .navbar {
    width: 100%;
    height: 80px;
    background-color: $darkBlueDarkModeElements;
    line-height: 80px;
    transition: all 0.4s ease-in-out;
    .info {
      display: flex;
      justify-content: space-between;
      @media (max-width: 576px) {
        justify-content: space-evenly;
      }
      .logo {
        h1 {
          margin: 0;
          font-weight: 600;
          @media (max-width: 576px) {
            font-size: 18px;
          }
        }
      }
      .mood {
        display: flex;
        .material-icons {
          line-height: 80px;
          margin-right: 10px;
          color: white;
          cursor: pointer;
        }
        @media (max-width: 576px) {
          .material-icons {
            font-size: 20px;
            margin-right: 5px !important;
          }
          h2 {
            font-size: 14px;
          }
        }
      }
    }
  }
  .layout {
    .info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 150px;
      @media (max-width: 576px) {
        flex-wrap: wrap;
        margin: 10px 0 10px 30px;
      }
      @media (min-width: 576px) {
        flex-wrap: wrap;
      }
      .search {
        position: relative;
        button {
          position: absolute;
          top: 2px;
          left: 18.5px;
          background: none;
          border: none;
          outline: none;
          height: 55px;
          padding: 0;
          .material-icons {
            color: white;
          }
        }
        input {
          @extend %class;
          width: 480px;
          padding-left: 65px;
          @media (max-width: 576px) {
            width: 300px;
          }
        }
      }
      .filter {
        position: relative;
        display: flex;
        flex-direction: column;
        z-index: 2;
        .choose-region {
          @extend %class;
          display: flex;
          width: 200px;
          cursor: pointer;
          h3 {
            margin: 0;
            line-height: 55px;
            padding: 0 20px 0 25px;
            transition: all 0.4s ease-in-out;
          }
          .material-icons {
            line-height: 55px;
          }
        }
        .all-region {
          position: absolute;
          top: 60px;
          width: 100%;
          height: 200px;
          padding-left: 25px;
          border-radius: 7px;
          background-color: $darkBlueDarkModeElements;
          -webkit-animation: scale-out-ver-top 0.5s
            cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
          animation: scale-out-ver-top 0.5s
            cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
          &.show {
            display: block;
            -webkit-animation: scale-in-ver-top 0.5s
              cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
            animation: scale-in-ver-top 0.5s
              cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          }
          span {
            display: block;
            margin: 15px 0;
            cursor: pointer;
            font-size: 14px;
            transition: all 0.4s ease-in-out;
            color: $darkGrayLightModeInput;
            &.active {
              color: red;
            }
            &:hover {
              color: white;
            }
          }
        }
      }
    }
    .country-slide {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      @media (max-width: 576px) {
        justify-content: center;
      }
      .country {
        width: 265px;
        height: 335px;
        border-radius: 7px;
        background-color: $darkBlueDarkModeElements;
        margin-bottom: 45px;
        cursor: pointer;
        &:hover {
          &::marker {
            content: "ahmed magdy";
          }
        }
        .flag {
          width: 100%;
          height: calc(100% - 175px);
          img {
            border-top-left-radius: 7px;
            border-top-right-radius: 7px;
          }
        }
        .country-details {
          width: 100%;
          padding-left: 25px;
          padding-right: 25px;
          h1 {
            margin: 30px 0 25px 0;
            font-size: 17px;
            font-weight: 800;
          }
          h4 {
            margin: 8px 0;
            font-size: 16px;
            font-weight: 600;
            span {
              font-size: 14px;
              font-weight: 300;
            }
          }
        }
      }
    }
    .country-more-details {
      display: none;
      margin-top: 80px;
      @media (max-width: 576px) {
        margin-top: 10px;
        margin-left: 30px;
      }
      button {
        @extend %button;
        width: 135px;
        height: 42px;
        margin-bottom: 80px;
        line-height: 42px;
        @media (max-width: 576px) {
          margin-bottom: 25px;
        }
        cursor: pointer;
        .material-icons {
          position: relative;
          top: 7px;
          right: 5px;
        }
      }
      .country-detail-slide {
        display: flex;
        @media (max-width: 767px) {
          flex-wrap: wrap;
        }
        .big-flag {
          width: 564px;
          height: 403px;
          margin-right: 140px;
          box-shadow: 0px 0px 0px 15px #0000001f;
          @media (max-width: 1200px) {
            width: 464px;
            height: 303px;
          }
          @media (max-width: 576px) {
            height: 160px;
          }
          @media (min-width: 1200px) {
            width: 564px;
            height: 403px;
          }
          img {
            width: 100%;
            height: 100%;
          }
        }
        .details {
          display: flex;
          flex-direction: column;
          width: 45%;
          @media (max-width: 1200px) {
            flex-wrap: wrap;
          }
          .left-details {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            div {
              @media (max-width: 576px) {
                width: 200px;
              }
              h1 {
                margin-top: 0;
                @media (max-width: 767px) {
                  margin-top: 60px;
                }
                @media (max-width: 576px) {
                  margin-top: 25px;
                }
              }
              h4 {
                margin: 10px 0;
                font-weight: 600;
                span {
                  font-weight: 300;
                  font-size: 14px;
                }
              }
              &:last-of-type {
                display: flex;
                flex-direction: column;
                justify-content: center;
                h4 {
                  margin: 5px 0;
                }
              }
            }
          }
          .border-countries {
            font-weight: 600;
            position: absolute;
            @media (max-width: 767px) {
              display: none;
            }
            @media (min-width: 767px) {
              top: 80%;
              left: 50%;
              transform: translate(-50%, -50%);
              display: inline-table;
            }
            @media (min-width: 1200px) {
              top: 60%;
              left: 70.5%;
            }
            span {
              @extend %button;
              margin-left: 10px;
              padding: 4px 22px;
              border-radius: 2px !important;
              box-shadow: 0px 0px 0px 4px #0000001f !important;
            }
          }
        }
      }
    }
  }
}

%class {
  height: 55px;
  border: none;
  outline: none;
  border-radius: 7px;
  background-color: $darkBlueDarkModeElements;
  color: white;
  letter-spacing: 0.5px;
}
%button {
  outline: none;
  border: none;
  border-radius: 8px;
  background: $darkBlueDarkModeElements;
  color: white;
  box-shadow: 0px 2px 7px -1px black;
  font-weight: 100;
}
.attribution {
  @media (max-width: 767px) {
    display: none;
  }
}
